language: php
dist: bionic

php:
  - 7.3
  - 7.4
  - 8.0

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest" PHPUNIT_VERSION="~8.5.10"
    - PREFER_LOWEST="" PHPUNIT_VERSION="~9.0"
    - PREFER_LOWEST="" PHPUNIT_VERSION="~9.3"
    - PREFER_LOWEST="" PHPUNIT_VERSION="~9.5"

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - phpenv config-rm xdebug.ini
  - composer selfupdate
  - composer require "phpunit/phpunit:$PHPUNIT_VERSION" --no-update;
  - if [ ${TRAVIS_PHP_VERSION:0:3} == "8.0" ]; then composer require symfony/config:^3.4.44|^4.4.12 --no-update; fi;
  - composer update $PREFER_LOWEST --prefer-dist --no-interaction --no-progress --ignore-platform-req=php

script:
  - bin/phpstan.phar analyze src tests
  - find tests/ -name "*Test.php" | php fastest -v
  - ./fastest -x phpunit.xml.dist -v "bin/phpunit {}"
  - bin/behat --config=adapters/Behat/behat.yml
