language: php

php:
  - 7.2
  - 7.3
  - 7.4

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest"
    - PREFER_LOWEST=""

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - composer selfupdate
  - composer require "phpunit/phpunit:^8.2" --no-update;
  - composer update $PREFER_LOWEST

script:
  - find tests/ -name "*Test.php" | php fastest -v
  - ./fastest -x phpunit.xml.dist -v "bin/phpunit {}"
  - bin/behat --config=adapters/Behat/behat.yml
