<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Fastest Test Suite">
            <directory>tests/Fastest/Process/</directory>
            <directory>tests/Fastest/Queue/</directory>
            <directory>tests/Fastest/Environment/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
